<% cache cover do %>
<article class="<%= @covers.length > 2 ? cycle('headline', 'feature', 'feature') : cycle('headline', 'big feature') -%> coverstory" style="background-image: url(<%= @covers.length > 2 ? cover.image.url(current_cycle.to_sym) : cover.image.url(:headline) %>?<%= Time.now.to_i.to_s %>)">
  <h2><%= cover.title %></h2>
  <div class="cover-blurb"><%= cover.description %></div>
</article>
<% end %>
