<!doctype html>
<html>
 <head>
   <title>RPG Site</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5' %>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
 </head>
<body>
<header>
  <div class="moving-wrapper">
    <nav role="navigation" class="fixed">
      <a href="#" id="mobile-menu"><img src="/images/mobile-menu.gif" alt="Mobile Menu" /></a>
      <%= link_to root_path, id: 'moving-logo' do %><%= image_tag '/images/logo_moving.png', alt: t('site.title') %><% end %>
      <ul class="main-wrapper">
        <li class="menu-link" id="nav-news-link"><%# link_to t('menu.news'), article_hub_path(article_type: 'news') %></li>
        <li class="menu-link" id="nav-articles-link">
          <%# link_to t('menu.articles'), article_hub_path(article_type: 'articles') %>
          <span class="menu-arrow"></span>
          <ul>
            <li><%# link_to t('menu.article_types.features'), article_hub_path(article_type: 'features') %></li>
            <li><%# link_to t('menu.article_types.reviews'), review_hub_path %></li>
            <li><%# link_to t('menu.article_types.previews'), article_hub_path(article_type: 'previews') %></li>
            <li><%# link_to t('menu.article_types.interviews'), article_hub_path(article_type: 'interviews') %></li>
          </ul>
        </li>
        <li class="menu-link" id="nav-platforms-link">
          <%#= link_to t('menu.platforms'), console_hub_path %></a>
          <span class="menu-arrow"></span>
          <ul>
            <% [].each do |console| %>
              <li class="<%= console.short_name %>" style="background-image: url(<%= console.tiny.url %>)"><%# link_to console.title, entity_path(entity_type: 'consoles', entity: console.entity_path) %></li>
            <% end %>
            <li><%#= link_to 'More Platforms...', console_hub_path %></li>
          </ul>
        </li>
        <li class="menu-link" id="nav-games-link">
          <%#= link_to t('menu.games'), games_hub_path %>
        </li>
        <li class="menu-link" id="community">
          <%#= link_to t('menu.community'), 'http://www.mognetcentral.com' %>
        </li>
        <li class="menu-link" id="search-link">
          <%#= link_to 'Search the site', search_hub_path %>
        </li>
        <li class="menu-link" id="search">
        </li>
        <li class="menu-link" id="social">
          <a href="https://twitter.com/rpgsite" class="header-image" id="header-twitter"><span>Twitter</span></a>
          <a href="https://facebook.com/rpgsite.net" class="header-image" id="header-facebook"><span>Facebook</span></a>
          <a href="/feed" class="header-image" id="header-rss"><span>RSS</span></a>
        </li>
      </ul>
    </nav>
    <div class="main-wrapper logo-wrapper with-logo">
      <div id="logo"><%= link_to root_path do %><span>RPG Site</span><% end %></div>
      <div class="long-block"><%#= get_ad('728x90') %></div>
    </div>
  </div>
</header>

<div id="campaign-wrapper">
<div class="wrapper">
  <%= yield :covers %>
  <section role="content"<%= ' class=' + @content_class if @content_class %>>
    <section id="left">
      <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
      <% if @show_toolbar && @admin_toolbar_links %>
        <div id="admin-toolbar">
          <a href="/admin"><img src="/images/cog.png" alt="" /></a>
          <ul>
          <% @admin_toolbar_links.each do |title, link| %>
            <li><%# link_to title, link, target: '_blank' %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </section>
    <section id="right">
      <%= yield :sidebar %>
    </section>
    <div class="clearfix"></div>
  </section>
</div>
</div>

<div class="long-block-footer"><%=  %></div>

<footer>
  <div role="footer">
    <div id="info" class="footer-section">
      <%= link_to root_path do %><%= image_tag '/images/logo_moving.png', alt: "RPG Site" %><% end %>
      <ul id="social-footer">
        <li><%# link_to '@rpgsite', 'http://twitter.com/rpgsite', style: 'background-image: url(/images/social/small/twitter.gif)' %></li>
        <li><%# link_to 'RPGSite.net', 'http://facebook.com/rpgsite.net', style: 'background-image: url(/images/social/small/facebook.gif)' %></li>
        <li><%# link_to 'RPGSiteNet', 'http://www.youtube.com/rpgsitenet', style: 'background-image: url(/images/social/small/youtube.gif)' %></li>
        <li><%# link_to 'RPGSite', 'http://www.twitch.tv/RPGSite', style: 'background-image: url(/images/social/small/twitch.png)' %></li>
        <li><%# link_to 'RPGSiteNet', 'http://rpgsitenet.tumblr.com', style: 'background-image: url(/images/social/small/tumblr.gif)' %></li>
        <li><%# link_to 'RPGSiteNet', 'https://plus.google.com/s/rpgsite.net', style: 'background-image: url(/images/social/small/gplus.gif)' %></li>
      </ul>
    </div>
    <div id="network-links" class="footer-section">
      <h4><%=t 'site.network' %></h4>
      <ul>
        <li><%# link_to t('site.title'), 'http://www.rpgsite.net' %></li>
        <li><a href="http://www.uffsite.net">Final Fantasy Site</a></li>
        <li><a href="http://novacrystallis.com">Nova Crystallis</a></li>
        <li><a href="http://media.rpgsite.net">Media Vault</a></li>
        <li><a href="http://www.crimsonfantasia.com">Crimson Fantasia</a></li>
        <li><a href="http://www.sound-test.org">Sound Test</a></li>
        <li><a href="http://www.savecontinue.com">Save/Continue</a></li>
        <li><a href="http://www.mognetcentral.com">Mognet Central</a></li>
      </ul>
    </div>
    <div id="site-links" class="footer-section">
      <h4><%=t 'site.title' %></h4>
      <ul>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/legal">Privacy & Legal</a></li>
        <li><a href="/staff">Staff</a></li>
        <li><a href="/advertise">Advertise</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/feed">RSS Feeds</a></li>
      </ul>
    </div>
    <div id="editorial-links" class="footer-section">
      <h4>Friends &amp; Affiliates</h4>
      <ul>
        <li><a href="http://www.consolemonster.com">Console Monster</a></li>
        <li><a href="http://www.rpgland.com">RPG Land</a></li>
        <li><a href="http://www.vg247.com" rel="nofollow">VG247</a></li>
        <li><a href="http://www.redwingsmusic.com">The Red Wings</a></li>
        <li><a href="http://www.ps3vault.com">PS3 Vault</a></li>
        <li><a href="http://www.finalfantasy.net">FFNet</a></li>
        <li><a href="http://www.finalfantasy-fxn.net">FF FXN</a></li>
        <li><a href="http://www.ffmages.com">FF Mages</a></li>
      </ul>
    </div>
    <div role="network">
      <a href="/network"><img src="/images/network_logo.png" alt="<%=t 'site.network' %>" /></a>
      <p class="copy"><%=raw t 'site.copyright.site' %></p>
      <p class="copy other"><%=raw t 'site.copyright.other' %></p>
    </div>
  </div>
</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44058280-1']);
  _gaq.push(['_setDomainName', '.rpgsite.net']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
//<![CDATA[
var sc_project=1561610;
var sc_invisible=1;
var sc_security="f2a47c3f";
//]]>
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter_xhtml.js"></script>
<noscript><div class="statcounter"><a title="free hit
counters" href="http://statcounter.com/free-hit-counter/"
class="statcounter"><img class="statcounter"
src="http://c.statcounter.com/1561610/0/f2a47c3f/1/"
alt="free hit counters" /></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
<!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-13F9PNdeyYIDo"
});
</script>

<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-13F9PNdeyYIDo.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->

</body>
</html>

